div.container {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  padding: 20px 0px;
}

#card > div {
  display: flex;
  /* background-color: aqua; */
}

.ant-card-body {
  padding: 10px !important;
}

.ant-card-head {
}

.ant-col {
}

#delete-btn {
  margin-top: 90px;
}

.mainApp {
  padding: 30px;
}

input[type="text"] {
  width: 60%;
  padding: 5px 10px;
  margin-left: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 10%;
  padding: 5px 10px;
  margin-left: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-left: 10px;
  width: 15px;
  height: 15px;
}

label {
  font-size: 16px;
  margin-left: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

form button {
  border: 1px solid white;
  width: 70px;
  padding: 5px;
  margin-left: 250px;
  margin-bottom: 20px;
  background-color: rgb(1, 141, 1);
  color: white;
}

#top-container {
  display: flex;
  justify-content: center;
}

#top-container div {
  width: 50%;
}

#order-btn {
  margin-left: 5px;
  background-color: rgb(62, 0, 68);
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
}
