@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

div.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  padding: 20px 0px;
  font-size: 40px;
}

#card > div {
  display: flex;
}

.ant-card-body {
  padding: 10px !important;
}

#delete-btn {
  margin-top: 90px;
  font-weight: bold;
}

.mainApp {
  padding: 30px;
}

input[type="text"] {
  width: 60%;
  padding: 5px 10px;
  margin-left: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 10%;
  padding: 5px 10px;
  margin-left: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-left: 10px;
  width: 15px;
  height: 15px;
}

label {
  font-size: 16px;
  margin-left: 10px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

form button {
  border: 1px solid white;
  width: 70px;
  padding: 5px;
  margin-left: 250px;
  margin-bottom: 20px;
  background-color: rgb(1, 141, 1);
  color: white;
  font-weight: bold;
}

#top-container {
  display: flex;
  justify-content: center;
}

#top-container div {
  width: 50%;
}

#order-btn {
  margin-left: 110px;
  background-color: #5edfff;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  font-weight: bold;
}

.mainApp {
  background: linear-gradient(
    125deg,
    #ecfcff 0%,
    #ecfcff 40%,
    #b2fcff calc(40% + 1px),
    #b2fcff 60%,
    #5edfff calc(60% + 1px),
    #5edfff 72%,
    #3e64ff calc(72% + 1px),
    #3e64ff 100%
  );
}

#searchbar {
  align-self: flex-end;
  margin-left: 180px;
}

#top-container div img {
  height: 350px;
  margin-left: 180px;
  margin-bottom: 20px;
}
